body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #121212, #1e1e1e);
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
}

.container {
    height: 500px;
    width: 260px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: 0 0 15px #00ffff;
    padding: 20px;
}

.upper {
    height: 210px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid #00ffff;
    border-radius: 10px;
    padding-top: 30px;
    box-shadow: 0 0 10px #00ffff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.session {
    height: 60px;
    font-size: 27px;
    margin-bottom: 10px;
    border-bottom: 1px solid #00ffff;
}

.indec {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.subIndec {
    width: 45%;
    font-size: small;
    text-align: center;
}

.disable {
    pointer-events: none;
    opacity: 0.5;
}

.bktime {
    border-color: red;
    color: red;
}

.beforeStart {
    pointer-events: none;
    opacity: 0.5;
}

.controls {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #00ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #121212;
    
}

.controls:hover {
    background-color: #00cccc;
}

#stDiv {
    
    color: green;
    
    font-size: 30px;
    margin-bottom: 10px;
}

#brDiv {
    color: red;
    font-size: 30px;
    margin-bottom: 10px;
}